* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.header {
  height: 100vh;
  position: relative;
  background-color: #008aff;
  border-radius: 0 0 0 300px;
  color: #fff; }
  .header__wrapper {
    height: 100%; }
  .header__nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 15%; }
  .header__logo {
    width: 60px;
    height: 28px;
    margin-right: 78px; }
  .header__burger {
    margin-left: auto;
    display: none;
    cursor: pointer; }
  .header__info-container {
    height: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__info {
    max-width: 362px; }
  .header__heading {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px; }
  .header__text {
    font-size: 18px;
    line-height: 150%;
    margin: 32px 0 83px; }
  .header__slider {
    position: absolute;
    left: 57%;
    right: 0;
    bottom: 0;
    height: 85%;
    background: center url(../images/slider/stairs.png) no-repeat;
    background-size: cover;
    border-radius: 200px 0 0; }

@media screen and (max-width: 1050px) {
  .header__logo {
    margin-right: 60px; } }

@media screen and (max-width: 900px) {
  .header {
    height: 100vh; }
    .header__burger {
      display: block; }
    .header__info-container {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 100%; }
    .header__info {
      text-align: center; }
    .header__nav-bar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding: 0 10%; } }

@media screen and (max-width: 450px) {
  .header {
    border-radius: 0 0 0 195px; }
    .header__info {
      max-width: 250px; }
    .header__heading {
      font-size: 50px; }
    .header__text {
      font-size: 16px; } }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .nav__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 637px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 318px; }
  .nav__link {
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .nav__link:hover {
      color: #ff9c8e; }
  .nav__link--active {
    position: relative; }
    .nav__link--active::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: #ff9c8e;
      position: absolute;
      bottom: -8px; }

@media screen and (max-width: 1300px) {
  .nav__list {
    width: 600px;
    margin-right: 160px; } }

@media screen and (max-width: 1050px) {
  .nav__list {
    width: 500px;
    margin-right: 80px; } }

@media screen and (max-width: 900px) {
  .nav {
    display: none; } }

.button {
  width: 226px;
  height: 50px;
  background: #ff9c8e;
  border-radius: 64px;
  border: none;
  color: #fff;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease; }
  .button:focus, .button:hover {
    -webkit-box-shadow: 0 0 10px #ff9c8e;
            box-shadow: 0 0 10px #ff9c8e;
    outline: none; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto; }

@media screen and (max-width: 1300px) {
  .wrapper {
    max-width: 1000px; } }

@media screen and (max-width: 1050px) {
  .wrapper {
    max-width: 780px; } }

@media screen and (max-width: 900px) {
  .wrapper {
    max-width: 80%; } }

.slider__arrows {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 72px;
  left: 48px;
  bottom: 66px; }

.slider__arrow {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease; }
  .slider__arrow:focus, .slider__arrow:hover {
    -webkit-box-shadow: 0 0 10px #008aff;
            box-shadow: 0 0 10px #008aff;
    outline: none; }

.slider__arrow-icon {
  width: 6px;
  height: 9px; }

.slider__description {
  max-width: 464px;
  position: absolute;
  left: 144px;
  bottom: 48px; }

.slider__title {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3px;
  margin-bottom: 8px; }

.slider__text {
  font-size: 14px;
  line-height: 140%;
  max-width: 225px; }

@media screen and (max-width: 900px) {
  .slider {
    display: none; } }

.mobile-menu {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  background-color: #008aff;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; }
  .mobile-menu--open {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }
  .mobile-menu__list {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style: none; }
  .mobile-menu__cross {
    position: absolute;
    right: 40px;
    top: 40px; }

.link {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff; }
  .link:focus {
    -webkit-box-shadow: 0 0 10px #ff9c8e;
            box-shadow: 0 0 10px #ff9c8e;
    outline: none; }

body {
  font-family: "Open Sans", sans-serif;
  background: #f2f9ff; }

/*# sourceMappingURL=main.css.map */
